@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-orange-vivid-050: #FFE8D9;
  --color-orange-vivid-400: #F9703E;
  --color-orange-vivid-500: #F35627;
  --color-orange-vivid-800: #AD1D07;

  --color-yellow-050: #FFFAEB;
  --color-yellow-100: #FCEFC7;
  --color-yellow-200: #F8E3A3;
  --color-yellow-300: #F9DA8B;
  --color-yellow-400: #F7D070;
  --color-yellow-500: #E9B949;
  --color-yellow-600: #C99A2E;
  --color-yellow-700: #A27C1A;
  --color-yellow-800: #7C5E10;
  --color-yellow-900: #513C06;

  --color-cool-grey-100: #E4E7EB;
}